page-email-register {
    ion-card {
            ion-card-content {      
              img {
                background-color:  #FFFFFF;
                height: 200px;
                width: 160px;
                border-radius: 50%;         
                border: solid 4px #FFFFFF;
                margin: 0px auto;
              }
            }
        
          }
}
